<div class="componentspace">
<div class="top-data-cards">
  <div class="data-card" *ngFor="let card of topCards">
    <div class="card-header" [ngStyle]="{ 'background-color': getBackgroundColor(card.value), 'color': getFontColor(card.value) }">
      <div class="card-icon">
        <i *ngIf="card.value ==15" style="color: white;" class="fa fa-music"></i>
        <i *ngIf="card.value ==30" class="fa fa-pie-chart"></i>
        <i *ngIf="card.value ==35" class="fa fa-download"></i>
        <i *ngIf="card.value ==9" class="fa fa-refresh"></i>
      </div>
      <div class="header-content">
        <h1>{{ card.value }}%</h1>
        <h2>{{ card.header }}</h2>
        <p>{{ card.sub_header }}</p>
      </div>
    </div>
    </div>
  </div>
</div>
