
<div class="componentspace">
   <div class="card" style="display: inline-block;">
      <h1 class="headingclass">Balance Overview</h1>
      <div class="card-body">
        <canvas  id="MyChartline" >{{ chartline }}</canvas>
      </div>
    </div>
    <div class="card" style="display: inline-block;">
      <h1 class="headingclass">Sales Statistics</h1>
      <div class="card-body">
        <canvas  id="MyChart" >{{ chart }}</canvas>
      </div>
    </div>
    <div class="card" style="display: inline-block;">
      <h1 class="headingclass">Top Products</h1>
      <div class="card-body">
        <canvas  id="chartdoughnut" >{{ chartdoughnut }}
        </canvas>
      </div>
    </div>
  </div>

  