<ul class="left-navigation">
  <li><a routerLink="/dashboard"><i class="fa fa-home"></i> </a></li>
  <li><a routerLink="/reports"><i class="fa fa-bar-chart" aria-hidden="true"></i> </a></li>
  <li><a routerLink="/downloads"><i class="fa fa-download" aria-hidden="true"></i>   </a></li>
  <li><a routerLink="/settings"><i class="fa fa-cog" aria-hidden="true"></i>   </a></li>
  <li><a routerLink="/checked"><i class="fa fa-check-circle"></i> </a></li>
  <li><a routerLink="/charts"><i class="fa fa-pie-chart" aria-hidden="true"></i> </a></li>
  <li><a routerLink="/cubes"><i class="fa fa-plus-square-o" aria-hidden="true"></i> </a></li>
</ul>
