.status-pending {
    background-color: grey;
    color: white;
    text-align: center;

  }
  
  .status-failed {
    background-color: red;
    color: white;
    text-align: center;

  }
  
  .status-paid {
    background-color: green;
    color: white;
    text-align: center;
  }
  
  .status-default {
    background-color: lightgrey;
    color: black;
    text-align: center;

  }
  