<nav class="top-navigation">
  <div class="menu">
    <i class="fa fa-bars" style="background-color: blue;color: white;" aria-hidden="true"></i>
    <input type="text" placeholder="Search...">
  </div>
  <div class="icons">
    <!-- <i class="fa fa-language"></i> -->
    <i class="fa fa-etsy" aria-hidden="true"></i>

    <i class="fa fa-commenting" aria-hidden="true"></i>
    <i class="fa fa-bell-o" aria-hidden="true"></i>
    <!-- <i class="fa fa-user-circle-o" aria-hidden="true"></i> -->

    <!-- <i class="fa fa-envelope"></i> -->
    <img src="/assets/userimage.jpg" alt="User Image">
    <span>Yaaseen B</span>
  </div>
</nav>
