@import '~bootstrap/dist/css/bootstrap.min.css';
/* "./node_modules/bootstrap/dist/css/bootstrap.min.css" */
@import '~font-awesome/css/font-awesome.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;background-color: #f4f7fc; }
